---
import logo from '../assets/logo.png';
---

<aside class="bg-gray-200 p-6">

  <div class="flex justify-center mb-6">
    <img
    src={logo.src}
    alt="Foto de perfil"
    />
  </div>
  <br>
  <h2 class="text-xl text-blue-500 mt-2">PERFIL</h2>

  <p>
    Me considero una persona responsable, soy proactivo.
    Gracias a mis experiencias y proyectos personales
    desarrollados, he desarrollado ciertas capacidades
    que quiero demostrar.
  </p>
  <br>
  <h2 class="text-xl text-blue-500 mt-2">CONTACTO</h2>

  <p>Email: crhis.i.am@email.com</p>
  <p>Teléfono: 628-824-685</p>
  <br>
  <h2 class="text-xl text-blue-500 mt-2">IDIOMAS</h2>

  <p>ESPAÑOL - NATIVO</p>
  <p>INGLÉS - BÁSICO</p>

</aside>