  <h2 class="text-xl text-black-500 font-bold mt-2">EDUCACIÓN</h2>
  <hr class="border-blue-500 my-4" />
  <p><span class="font-bold text-black">Cooperativa José Ramon Otero</span><br>
     2020 - 2022<br>
     Grado Medio Sistemas Informáticos.</p>

  <p><span class="font-bold text-black">IES Vista Alegre</span><br>
     2022 - 2025<br>
     Grado Superior Desarrollo Web</p>