  <h2 class="text-xl text-black-500 font-bold mt-2">EDUCACIÓN</h2>
  <hr class="border-blue-500 my-4" />
  <p>Cooperativa José Ramon Otero<br>
     2020 - 2022
     Grado Medio Sistemas Informáticos.</p>

  <p>IES Vista Alegre<br>
     2022 - 2025
     Grado Superior Desarrollo Web</p>