  <h2 class="text-xl text-black-500 font-bold mt-2">
  EXPERIENCIA LABORAL
</h2>
  <hr class="border-blue-500 my-4" />
  <p>  <span class="font-bold text-black">XPERIS</span><br>
     15-09-2022 / 10-12-2022
     El departamento de IT se encarga de mantener y asegurar el buen funcionamiento de toda la tecnología de la empresa. Esto incluye ofrecer soporte técnico a los empleados, gestionar y reparar equipos, administrar redes y servidores, instalar y actualizar software, y aplicar medidas de seguridad informática para proteger los datos y sistemas.
     En resumen, garantizan que la infraestructura tecnológica esté siempre operativa, segura y lista para el trabajo diario.</p>
     
  <p><span class="font-bold text-black">Formación Técnica</span><br>
     El departamento de IT se encarga de mantener y asegurar el buen funcionamiento de toda la tecnología de la empresa. Esto incluye ofrecer soporte técnico a los empleados, gestionar y reparar equipos, administrar redes y servidores, instalar y actualizar software, y aplicar medidas de seguridad informática para proteger los datos y sistemas. 
     En resumen, garantizan que la infraestructura tecnológica esté siempre operativa, segura y lista para el trabajo diario.</p>