  <h2 class="text-xl text-black-500 font-bold mt-2">HABILIDADES</h2>
 <hr class="border-blue-500 my-4" /> 

<ul class="list-disc pl-5 space-y-1 text-black">
  <li>PHP / MySQL</li> 
  <li>HTML5 / CSS3</li>
  <li>Bases de datos relacionales</li>
  <li>Ciberseguridad básica</li>
  <li>Desarrollo de aplicaciones web</li>
  <li>Gestión y mantenimiento de sistemas</li>
</ul>